body {
    font-family: Arial, Helvetica, sans-serif;
}

header {   
    width: auto;
    height: auto;

}

.pic{
    display: block;
    width: 100px;
    height: 146.37px;
    margin: auto;   
}
h1 {
    background-color: #F5C6A5;
    color: #852747; 
    font-size: 20px;
    font-weight: 700px;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.25em;
    padding: 10px;
}
h2.subtitle {
    background-color: #F5C6A5;
    color: #852747;  
    font-size: 14px;
    font-weight: 700px;
    font-style: normal;  
    padding: 7px; 
}
ul.datos {
    font-size: 15px;
    display: inline;    
}
span.datos {
    font-weight: bold;
    font-style: italic;
}
.link {
    color: #A2416B;
    font-style: italic;
}
div.inline {    
    height: 50px;
    width: 100px;   
    float: left;
    font-weight: bold;
    font-size: 15px;
}
 .white {
     color: white;
}
.footer {
    text-align: center;
    background-color: #A2416B;
    color: white;
    padding: 10px;
}
.aboutme {
    background-color: #e2e8f3;   
    padding: 10px;   
    font-size: 15px;     
}
div.first { 
    
    display: inline-block;   
    background-color: #c4c4c4;   
}
div.second {
    display: inline-block;  
    background-color: #c4c4c4;   
}

